SnippetsCodeTemplates/HolisticWare.IDE.AutomationTools.Snippets.BusinessLogic.DLL.Common/xsd/RazorCodeTemplates.[from-RazorCodeTemplates-template.xml].template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RazorCodeTemplates">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="CodeTemplate">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Header">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="_Group" type="xsd:string" />
                    <xsd:element name="Version" type="xsd:decimal" />
                    <xsd:element name="MimeType" type="xsd:string" />
                    <xsd:element name="Shortcut" type="xsd:string" />
                    <xsd:element name="_Description" type="xsd:string" />
                    <xsd:element name="TemplateType" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Variables">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Variable">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Default" type="xsd:string" />
                          <xsd:element name="_ToolTip" type="xsd:string" />
                        </xsd:sequence>
                        <xsd:attribute name="name" type="xsd:string" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Code" type="xsd:string" />
            </xsd:sequence>
            <xsd:attribute name="version" type="xsd:decimal" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="version" type="xsd:decimal" />
    </xsd:complexType>
  </xsd:element>
</xsd:schema>